<!--
  ~ Copyright (c) 2006-2013  David Soergel  <dev@davidsoergel.com>
  ~ Licensed under the Apache License, Version 2.0
  ~ http://www.apache.org/licenses/LICENSE-2.0
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ml" verbose="1" parallel="false" thread-count="1">
  <test name="ml">
    <packages>
      <package name="edu.berkeley.compbio.ml"/>
      <package name="edu.berkeley.compbio.ml.cluster"/>
      <package name="edu.berkeley.compbio.ml.cluster.stats"/>
      <package name="edu.berkeley.compbio.ml.cluster.hierarchical"/>
      <package name="edu.berkeley.compbio.ml.cluster.kmeans"/>
      <package name="edu.berkeley.compbio.ml.cluster.kohonen"/>
      <package name="edu.berkeley.compbio.ml.distancemeasure"/>
      <package name="edu.berkeley.compbio.ml.mcmc"/>
    </packages>

  </test>
</suite>
